# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
env/
venv/
ENV/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# VS Code
.vscode/

# Node
node_modules/
package-lock.json

# OS files
site.db